#button {
  border-radius: 25px;
  margin: 0px 0px 20px 0px;
}



.box {
  border-style: solid;
  background-color: hsla(0, 100%, 100%, 0.75);
  margin: 5px 0px 10px 0px;
  padding: 10px;
  border-radius: 15px;
}

#all_messages {
  float: left;
}

#all_contacts {
  float: left;
}
